---
layout: default
---
{% assign pager = page.pager %}

<div class="container">
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {% for post in pager.docs %}
        <li>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <div class="post-meta">{{ post.date | date: date_format }}</div>
            {%- if site.show_excerpts -%}
                {{ post.excerpt }}
            {%- endif -%}
        </li>
        {% endfor %}
    </ul>
	<div><p class="text-center text-muted">
    {% if pager.total_pages > 1 %}
      {% if pager.prev_page > 0 %}
      <a href="{{ pager.prev_page_url }}">Prev</a>
      {% endif %}
      <span>{{ pager.total_pages }} pages</span>
      {% if pager.next_page > 0 %}
      <a href="{{ pager.next_page_url }}">Next</a>
      {% endif %}
    {% endif %}
	</p></div>
</div>