---
layout: default
---
{% assign pager = page.pager %}

<div class="container">
    <h2 class="post-list-heading">{{ page.title | default: "Posts" }}</h2>
    <ul class="post-list">
        {% for post in pager.docs %}
        <li>
            <h3>
                <a class="post-link" href="{{ post.url | relativize_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <div class="post-meta">{{ post.date | date: date_format }}</div>
            {%- if site.show_excerpts -%}
                {{ post.excerpt | strip_html | truncatewords:75 }}
            {%- endif -%}
        </li>
        {% endfor %}
    </ul>
    {% if pager.total_pages > 1 %}
    <div class="previous-next-post-links">
      <div>
          {% if pager.prev_page > 0 %}
              <a class="arrow arrow__left" href="{{ pager.prev_page_url | relativize_url }}/index.html">Prev</a>
          {% endif %}
      </div>
      <div class="nav-label">Page {{ pager.current_page }} of {{ pager.total_pages }}</div>
      <div>
          {% if pager.next_page > 0 %}
              <a class="arrow arrow__right" href="{{ pager.next_page_url | relativize_url }}/index.html">Next</a>
          {% endif %}
      </div>
    </div>
    {% endif %}
</div>