---
layout: default
---
<article class="container post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      <ul class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <li><a href="{{ "/category" | relativize_url }}/{{category | slugify: "latin" }}/index.html">{{category}}</a></li>
        {% endfor%}
      </ul>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% if post.series %}
        {% capture post_series %}series/{{ post.series }}.html{% endcapture %}
        {% include {{ post_series }} %}
    {% elsif page.series %}
        {% capture post_series %}series/{{ page.series }}.html{% endcapture %}
        {% include {{ post_series }} %}
    {% endif %}
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relativize_url }}" hidden></a>
</article>
